.iimg{
  height: 60px;
} 

.wholebg{
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  height: 120vh;
}

.forgothead{
  font-family: 'Roboto', sans-serif;
  text-align: center;

}


.image-responsive{
  margin-left: -30px;
  height: 285px;
  margin-bottom:-330px;
}

.Loginform{
padding: 30px;
}

label{
  font-weight: 500;
}

.homeimh img{
  margin-right: -180px;
  background-repeat: no-repeat;
  margin-top: -100px;

}

nav{
  background-color: #3f51b5;
}
.nav-link{
  margin-right: 50px;
  color: white;
}
.nav-link:hover{
  color: black;
}

#border_management{
  border-radius: 20px;
  border: 1px solid grey;
  min-height: 72vh;
  margin-top: 85px;
  padding: 10px;
  margin: 30px;
}


.facebookicon  img{
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  background-color: white;
  border: 1px solid white;
}
.userlogin{
  font-family: 'Fira Sans', sans-serif;
  margin-left:0px ;
  margin-top: 10px;
  font-size: 25px;
}
#user{
  font-family: 'Fira Sans', sans-serif;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
  width: 300px;
}
.forg{
  margin-bottom: -100px;
}
#forgotpass{
  margin-left: 80px;
  font-size: 13px;
}
.register{
  font-size: 12px;
}

.dropdown{
  margin-left:940px;
}

.homepagehead{
  min-height: 20vh;
}
.homepagehead h2{
  margin-top:180px;
}

/* forgotpasswordpage */
.passwordchange{
  margin-top: 90px;
}

/* timetable */
#createbutton{
  border-radius: 10px;
  height: 45px;
}

.mytable{
  margin-top: 140px;
}